<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <a href="/">
          <li>Home</li>
        </a>
        <a href="/register">
          <li>Register a Company</li>
        </a>
        <a href="/join">
          <li>Join your Company</li>
        </a>
      </ul>
    </nav>
  </body>
</html>
