<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../javascripts/formSubmit.js"></script>
</head>
<body>
    <form class="register-company-form">
        <h1>Register your Company</h1>
        <div>
            <label for="">Name of Company</label>
            <input type="text" id="company">
        </div>
        <div>
            <label for="">Employee Count</label>
            <input type="number">
        </div>
        <button type="submit">
            Submit
        </button>
    </form>
</body>
</html>